.decale
     {
      margin-bottom: -8px;
     }

   #carouselExampleIndicators
   {
    width: 62,5rem;
    height: 120rem;

   }

   #carouselExemple {
    width: 50%;
    margin: 0 auto;
    margin-top: 60px;
}

.carousel-item img {
    width: 950px;
    height: 535px;
    overflow: hidden;
}

.slider_fond{
	display:flex;
	justify-content: center;

}

.content{
    border-radius: 0.9375rem;
    width: 62.5rem;
    height: 120rem; 
    background-color: #F5F5F5;
    margin-left: 28.125rem;
    margin-top: 4.375rem;
    box-shadow: inset 0 0 1em #F5F5F5, 0 0 2em #2c2c2c;
}

.title{
	text-align: left;
	padding: 25px;
	font-family: Arial, Helvetica, sans-serif;
}

.bienvenue p{
	padding: 20px;
}

.title{
	background-color: #303132;
	color:white;
	padding: 15px;
	margin: 15px;
	font-family: Helvetica, sans-serif;
}

.title h3{
	font-size: 2rem;
}

.actu1
{
    display: flex;
    flex-flow: row ;    
    justify-content: flex-start;
    margin-left: 130px;

}

img.img_
{
    width: 240px;
    height: 150px;
    margin :0%; 

}

.position
{
    width: 240px;
    height: 90px;
    color: black;
    float:right;
    font-size:12px;
    margin-top:-100px;

}

 section.taille_img
 {
        width: 400px;
        height: 250px;   
        margin: 0%;

 }

.conteneur
{
        margin-top: 2%;
        display: flex;
        justify-content: space-around;  
        display:flex;
        flex-direction: column;
        margin-left:-100px;
}