*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    background-image: url(../Images/background_3.jpg);
    background-position: cover;
    background-position: center;
}

.menu-bar
{
    background-color: #303132;
    text-align: center;
}
.menu-bar ul
{
    display: inline-flex;
    list-style: none;
    color: white;
}
.menu-bar li
{
    width: 250px;
    margin: 15px;
    padding: 15px;
    border-right: solid;
    border-right-width: 0.5px;
}
.menu-bar ul li a
{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-family: helvetica;
}
.menu-bar ul li a i
{
    height: 65px;
    width: 65px;
}
.menu-bar ul li:hover
{
    background: #545454;
    border-radius: 5px;
}
.menu-bar .fa
{
    margin-left: 7px;
}

.search-box
{ 
    margin-top: 33px; 
    margin-left: 10px;
}
.search-txt
{
    border-radius: 10px;
    border: none;
    outline: none;
    width: 180px;
    height: 26px;
}
#logo-acceuil
{
    height: 75px;
    float: left;
    margin-top: 5px;
}
.fa-twitter
{
    border-right: solid;
    border-right-width: 0.5px;
    width: 40px;
}
.fa-shopping-cart
{
    border-left: solid;
    border-left-width: 0.5px;
    width: 35px;
}
a i
{
    text-decoration: none;
    color: white;
}
.fa-search
{
    margin-right: 10px;
}
#active
{
    background-color: grey;
    border-radius: 5px;
}
#fond_blanc
{
    position: absolute;
    border-radius: 15px;
    width: 60rem;
    height: 85%;
    background-color: #F5F5F5;
    margin-left: 20rem;
    margin-top: 5rem;
    box-shadow: inset 0 0 1em #F5F5F5, 0 0 2em #2c2c2c;
}
h1
{
    font-family: helvetica;
    margin-left: 2rem;
    margin-top: 1rem;
}
h3
{
    font-family: helvetica;
    margin-left: 2rem;
    margin-top: 1rem;
}
p
{
    font-family:helvetica;
}

#fond_blanc img
{
    float: left;
    border-radius: 0.75rem;
    width: 400px;
    height: 200px;
}
.sub
{
    margin-left: 2rem;
    margin-top: 1rem;
}
.ligne
{
    margin-left: 2.5rem;
    margin-top: 3rem;
}
.ligne input
{
    background-color: white;
    border: solid 1px;
    border-radius: 0.25rem;
    margin-top: 2rem;
    margin-left: 0.5rem;
}
.right_container
{
    float: right;
    width: 30rem;
    height: 15rem;
    margin-left: 1.5rem;
    margin-right: 0.7rem;
    margin-top: 0.5rem;
    justify-content: center;
}
#image2
{
    margin-top: 3rem;
}
label
{
    font-family: helvetica;
}