*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body
{
	background-image: url(../Images/background.png);
	background-position: cover;
	background-position: center;
}

.menu-bar
{
	background-color: #303132;
	text-align: center;
}
.menu-bar ul
{
	display: inline-flex;
	list-style: none;
	color: white;
}
.menu-bar li
{
	width: 250px;
	margin: 15px;
	padding: 15px;
	border-right: solid;
	border-right-width: 0.5px;
}
.menu-bar ul li a
{
	text-decoration: none;
	color: white;
	font-size: 1.5rem;
	font-family: helvetica;
}
.menu-bar ul li a i
{
	height: 65px;
	width: 65px;
}
.menu-bar ul li:hover
{
	background: #545454;
	border-radius: 5px;
}
.menu-bar .fa
{
	margin-left: 7px;
}

.search-box
{ 
	margin-top: 33px; 
	margin-left: 10px;
}
.search-txt
{
	border-radius: 10px;
	border: none;
	outline: none;
	width: 180px;
	height: 26px;
}
#logo-acceuil
{
	height: 75px;
	float: left;
	margin-top: 5px;
}
.fa-twitter
{
	border-right: solid;
	border-right-width: 0.5px;
	width: 50px;
}
a i
{
	text-decoration: none;
	color: white;
}
.fa-search
{
	margin-right: 10px;
}
#fond_blanc
{
	position: absolute;
	border-radius: 15px;
	width: 31.25rem;
	height: 20rem;
	background-color: #F5F5F5;
	margin-left: 42rem;
	margin-top: 10rem;
	box-shadow: inset 0 0 1em #F5F5F5, 0 0 2em #2c2c2c;
}
#fond_blanc h1
{
	font-family: helvetica;
	font-size: 2rem;
	margin-left: 1.2rem;
	margin-top: 1rem;
}
.sub_title
{
	font-family: helvetica;
	margin-left: 4rem;
	margin-top: 3rem;
}
.search-txt
{
	font-family: helvetica;
	width: 15rem;
	background-color: #F5F5F5;
}
.search-box-sign-in
{
	margin-top: 0.1rem;
	margin-left: 4rem;
	width: 15rem;
	border-bottom: solid;
	border-bottom-width: 0.10rem;
}

.fa-lock
{
	float: left;
	margin-left: 2.75rem;
	margin-top: 0.4rem;
}
.fa-id-card
{
	float: left;
	margin-left: 2.50rem;
	margin-top: 0.4rem;
}

#btn-ok
{
	background-color: #303132;
	height: 1.5rem;
	width: 6rem;
	margin-left: 22rem;
	margin-top: 0.95rem;
	border-radius: 3px;
	border: none;
}
#btn-ok p
{
	color: white;
}
#btn-ok:hover
{
	background-color: grey;
}
#active
{
	background-color: grey;
	border-radius: 5px;
}
#footer
{
	background-color: #303132;
	height: 225px;
	width: 100%;
	position: absolute;
	bottom: 0;
	display: inline-flex;
}
footer h2
{
	font-family: helvetica;
	border-bottom: solid black;
	width: 175px;
	border-bottom-width: 2px;
	color: white;
}
li
{
	font-family: helvetica;
	list-style: none;
	margin-top: 8px;
}
#about
{
	margin-left: auto;
	margin-right: 50px;
	margin-top: 60px;
}
#about p
{
	width: 350px;
	color: white;
	margin-top: 5px;
}
#contact
{
	margin-left: 50px;
	margin-right: auto;
	margin-top: 60px;
	color: white;

}
#contact li:hover
{
	color: grey;
}
#contact a:hover
{
	color:grey;
}
#contact a
{
	text-decoration: none;
	color: white;
	border-bottom: solid grey;
	border-bottom-width: 1px;
}