
#footer
{
	background-color: #303132;
	height: 40px;
	width: 100%;
	position: fixed;
	bottom: 0;
	display: inline-flex;
}

#footer a
{
	display:inline-flex;
	text-decoration: none;
	color: white;
}
#footer p
{
	font-family: helvetica;
	text-decoration: none;
	margin-top: auto;
	margin-bottom: auto;
}
#footer i
{
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 5px;
	margin-left: 4px;
}
#footer_elements
{
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 40rem;
	margin-left:auto;
}
.droite
{
	border-left: solid white;
	border-left-width: 0.5px;
	padding-left: 5px;
}

.social{
	padding-right: 8px;;
	font-size:24px;
}

.icon{
	padding:8px;

}