
#footer
{
	background-color: #303132;
	height: 190px;
	width: 100%;
	position: absolute;
	bottom: 0;
	display: inline-flex;
	margin-bottom: -10 000px;
}
footer h2
{
	font-family: helvetica;
	font-size: 20px;
	border-bottom: solid black;
	width: 175px;
	border-bottom-width: 2px;
	color: white;
}
li
{
	font-family: helvetica;
	list-style: none;
	margin-top: 8px;
}
#about
{
	margin-left: auto;
	margin-right: 50px;
	margin-top: 60px;
}
#about p
{
	width: 350px;
	color: white;
	margin-top: 5px;
}
#contact
{
	margin-left: 50px;
	margin-right: auto;
	margin-top: 60px;
	color: white;
}
#contact li:hover
{
	color: grey;
}
#contact a:hover
{
	color:grey;
}
#contact a
{
	text-decoration: none;
	color: white;
	border-bottom: solid grey;
	border-bottom-width: 1px;
}
