*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    background-image: url(../Images/background.jpg);
    background-position: cover;
    background-position: center;
    min-height: 100vh;
}

.menu-bar
{
    background-color: #303132;
    text-align: center;
}
.menu-bar ul
{
    display: inline-flex;
    list-style: none;
    color: white;
}
.menu-bar li
{
    width: 250px;
    margin: 15px;
    padding: 15px;
    border-right: solid;
    border-right-width: 0.5px;
}
.menu-bar ul li a
{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-family: helvetica;
}
.menu-bar ul li a i
{
    height: 65px;
    width: 65px;
}
.menu-bar ul li:hover
{
    background: #545454;
    border-radius: 5px;
}
.menu-bar .fa
{
    margin-left: 7px;
}

.search-box
{ 
    margin-top: 33px; 
    margin-left: 10px;
}
.search-txt
{
    border-radius: 10px;
    border: none;
    outline: none;
    width: 180px;
    height: 26px;
}
#logo-acceuil
{
    height: 75px;
    float: left;
    margin-top: 5px;
}
.fa-twitter
{
    border-right: solid;
    border-right-width: 0.5px;
    width: 50px;
}
a i
{
    text-decoration: none;
    color: white;
}
.fa-search
{
    margin-right: 10px;
}
#active
{
	background-color: grey;
	border-radius: 5px;
}











.noHover{
    text-decoration: none;
    pointer-events: inherit;
    color:black;
}




#page_forum{
    background-color: white;
    margin-top: 5rem;
    margin-left: 25rem;
    margin-right: 25rem;
    margin-bottom: 10rem;
    box-shadow: inset 0 0 1em #F5F5F5, 0 0 2em #2c2c2c;
}
section{
    border-bottom:1px solid black;
}
/* Style the list */
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee; 
  }
#home{
    color:black;
}
  
  /* Display list items side by side */
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  
  /* Add a slash symbol (/) before/behind each list item */
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  
  /* Add a color to all links inside the list */
  ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
  }
  
  /* Add a color on mouse-over */
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }
.en_tete{
    font-family: Arial, Helvetica, sans-serif;
    
    padding:1rem;
}
#page_forum .en_tete h1{
    display:flex;
    justify-content: flex-start;
}
button:hover{
    border:none;
}

#bouton_discussion{
    border:none;
    background-color:#f00;
    font-family:"Source Sans Pro",sans-serif;
    color: white;
    padding:0.16rem;
    margin-left:50rem;

}

#discussion_txt{
    text-decoration: none;
    color: white;
}



.en_tete h1 a{
    text-decoration: none;
    color: black;
}

#aide{
    border:1px solid black;
}
