*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


body
{
	background-image: url(../Images/sayagata-400px.png);
	background-position: cover;
	background-position: center;


}

.menu-bar
{
	background-color: #303132;
	text-align: center;
	display: flex;
}
#principal_bar{
	padding-top: 0;
	padding-right: 5rem;
	margin:0;
	font-size: 100%;
}
.menu-bar #principal_bar li::after{
	width: 0;
	height:2px;
	background: red;
	display: block;
	margin: auto;
	transition: .5s;
}
.menu-bar #principal_bar li:hover::after{
	width:70%;
}
.menu-bar ul
{
	display: inline-flex;
	list-style: none;
	color: white;
}
.menu-bar li
{
	width: 250px;
	margin: 15px;
	padding: 15px;
	height: 50px;
	border-right: solid;
	border-right-width: 0.5px;
}
.menu-bar ul li a
{
	text-decoration: none;
	color: white;
	font-size: 1.5rem;
	font-family: helvetica;
}
.menu-bar ul li a i
{
	height: 65px;
	width: 65px;
}

.menu-bar .fa
{
	margin-left: 7px;
}

.search-box
{ 
	margin-top: 33px; 
	margin-left: 10px;
}
.search-txt
{
	border-radius: 10px;
	border: none;
	outline: none;
	width: 180px;
	height: 26px;
}
#logo-acceuil
{
	height: 75px;
	float: left;
	margin-top: 5px;
}
.fa-twitter
{
	border-right: solid;
	border-right-width: 0.5px;
	width: 50px;
}
a i
{
	text-decoration: none;
	color: white;
}
.fa-search
{
	margin-right: 10px;
}
main{
	position:relative;
}
.noHover{
    text-decoration: none;
    pointer-events: inherit;
    color:black;}