*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body
{
	background-image: url(../Images/background.png);
	background-position: cover;
	background-position: center;

}
 
#fond_blanc
{
position: absolute; 
border-radius: 15px;
width: 1000px;
height: 1600px; 
background-color: #F5F5F5;
left: 220px;
top: 140px;
box-shadow: inset 0 0 1em #F5F5F5, 0 0 2em #2c2c2c;
}


#Titre
{
position: absolute;
left: 15rem;
top: 170px;
font-family: Helvetica, sans-serif;
}

#début
{
position: absolute;
left: 15rem;
top: 230px;
font-family: Helvetica, sans-serif;
}

#sous-début 
{
    position: absolute;
    left: 15rem;
    top: 255px;
	font-family: Helvetica;

}
#sous-début
{
    font-weight: 300;
}
.sous-texte1
{   position: absolute;	
    left: 600px;
    top: 415px;
	font-family: Helvetica;
	font-weight: 300;
}
#texte_Image1
{
position: absolute;
left: 600px;
top: 370px;
font-family: Helvetica, sans-serif;
}
#texte_Image2
{
position: absolute;
left: 600px;
top: 540px;
font-family: Helvetica, sans-serif;
}
#texte_Image3
{
position: absolute;
left: 600px;
top: 710px;
font-family: Helvetica, sans-serif;
}
#texte_Image4
{
position: absolute;
left: 600px;
top: 880px;
font-family: Helvetica, sans-serif;
}
#texte_Image5
{
position: absolute;
left: 600px;
top: 1050px;
font-family: Helvetica, sans-serif;
}
#texte_Image6
{
position: absolute;
left: 600px;
top: 1220px;
font-family: Helvetica, sans-serif;
}
#texte_Image7
{
position: absolute;
left: 600px;
top: 1390px;
font-family: Helvetica, sans-serif;
}
#texte_Image8
{
position: absolute;
left: 600px;
top: 1560px;
font-family: Helvetica, sans-serif;
}

.menu-bar
{
	background-color: #303132;
	text-align: center;
}

.menu-bar ul
{
	display: inline-flex;
	list-style: none;
	color: white;
}

.menu-bar li
{
	width: 250px;
	margin: 15px;
	padding: 15px;
	border-right: solid;
	border-right-width: 0.5px;
}

.menu-bar ul li a
{
	text-decoration: none;
	color: white;
	font-size: 1.5rem;
	font-family: helvetica;
}

.menu-bar ul li a i
{
	height: 65px;
	width: 65px;
}

.menu-bar ul li:hover
{
	background: #545454;
	border-radius: 1px;
}

.menu-bar .fa
{
	margin-left: 7px;
}

#grand-titre 
{
	text-align: center;
	color: white;
}

img
{
width: 18.125rem;
height: 8.75rem;
}

#Image1
{
position: absolute;
top: 370px;
left: 16.25rem;
}

#Image2
{
position: absolute;
top: 540px;
left: 16.25rem;
}

#Image3
{position: absolute;
top: 710px;
left: 16.25rem;
}

#Image4
{
position: absolute;
top: 880px;
left: 16.25rem;
}

#Image5
{
position: absolute;
top: 1050px;
left: 16.25rem;
}

#Image6
{
position: absolute;
top: 1220px;
left: 16.25rem;
}

#Image7
{
position: absolute;
top: 1390px;
left: 16.25rem;
}

#Image8
{position: absolute;
top: 1560px;
left: 16.25rem;
}
